*{
    margin:0;
    padding: 0;
}
.container{
background:linear-gradient(to right,rgb(11, 11, 11),rgb(31, 77, 204));
height: 100vh;
margin: 0;
padding: 0;
}
.text{
    width: 100%;
    height: auto;
}
#king{
    color:orange;
}
header h1 {
    color:azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
}
{
    background: green;
}
p{
    font-size: 15px;
    margin-left: 70px;
    color: aliceblue;
}
span{
    font-weight: bold;
}

.bg{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.photo{
    width:auto;
    height: auto;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    
}
img{
    width: fit-content;
    border-radius: 50%;
    height: 500px;
    width: 300px;

}